@import "@fontsource/cormorant-garamond/500-italic.css";
@import "@fontsource/cormorant-garamond/600-italic.css";

.App {
	font-family: "Cormora", serif;
	text-align: center;
	height: 100vh;
	width: 100vw;
}

body {
	padding: 0;
	margin: 0;
	background-color: #232b2b;
}
